/* Styles globaux pour la page */
.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: var(--gray-alpha-100);
}

/* Responsiveness for mobile devices */
@media (max-width: 768px) {
  .about-container {
    grid-template-columns: 1fr; /* Passe à une seule colonne */
    gap: 20px;
  }

  .about-text {
    text-align: center; /* Aligne le texte au centre pour mobile */
  }

  .about-button {
    margin: 0 auto; /* Centre le bouton */
  }
}

/* Mobile adjustments */
@media (max-width: 768px) {
  .event-card {
    width: 100%;
  }
}