/* Styles de base pour le Header */
.header {
  position: relative;
  width: 100%;
  color: var(--color-white);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.logo img {
  height: 50px;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  color: var(--color-white);
  font-size: 2rem;
  cursor: pointer;
}

.navList {
  list-style: none;
  display: flex; /* Affiche le menu en mode bureau */
  gap: 20px;
}

.navList.navOpen {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 4rem;
  left: 0;
  background: rgba(0, 0, 0, 0.95);
  width: 100%;
  padding: 1rem;
}

.navLink {
  text-decoration: none;
  color: var(--color-white);
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
}

.navLink:hover {
  color: var(--color-secondary);
}

@media (max-width: 768px) {
  .hamburger {
    display: block; /* Affiche le bouton hamburger sur mobile */
  }

  .navList {
    display: none; /* Cache le menu sur mobile par défaut */
  }

  .navList.navOpen {
    display: flex; /* Affiche le menu déroulant quand navOpen est activé */
  }
}
