.heroSection {
  position: relative;
  text-align: center;
  padding: 100px 20px;
  color: var(--color-white);
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
}

.heroSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Assombrit légèrement l’image */
  z-index: 1;
}

.heroTitle,
.heroSubtitle,
.highlights {
  position: relative;
  z-index: 2; /* Pour être au-dessus de l'overlay */
}